:root {
    --white: #ffffff;
    --dark: #121F2F;
    --red: #F72C3B;
    --gold: #F3B754;
    --titleFont: 'Romanica';
    --largeTitle: 8.02vmin;
    --smallTitle: 4.81vmin;
    --textSize: 14px;
}

@font-face {
    font-family: 'Romanica';
    src: url(./asstes/fonts/Romanica/Romanica.ttf);
    font-display: swap;
    font-weight: 400
}

@font-face {
    font-family: 'PoetsenOne-Regular';
    src: url(./asstes/fonts/PoetsenOne/PoetsenOne-Regular.ttf);
    font-display: swap;
    font-weight: 400
}

html,
body {
    color: #2d2d2d;
    font-family: var(--titleFont);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--textSize);
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

picture {
    display: block;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

#app {
    height: 100%;
    width: 100vw;
}


h1 {
    color: var(--dark);
    font-family: var(--titleFont);
    font-size: var(--largeTitle);
    font-weight: 400;
    line-height: 1;
    margin: 0;
    position: relative;
    text-transform: uppercase;

    .text__container {
        height: calc(var(--largeTitle) * 2);
        overflow: hidden;
        position: relative;
    }

    span {
        font-size: 1em;
        display: block;
        will-change: transform;

        +span {
            font-size: var(--smallTitle);
            margin-top: 0.6em;
        }
    }
}

p {
    font-size: var(--textSize);
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.preload {
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 2;

    .top__content {
        max-width: 900px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;

        .title-decor {
            display: block;
            height: 0;
            left: 50%;
            opacity: 0;
            padding-top: 110%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
            width: 110%;
            will-change: transform;

            div {
                background: url(/backgrounds/grece.svg) no-repeat center;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                will-change: transform;
            }
        }

        .text-part {
            padding: 4.6% 0 4%;
            position: relative;

            &::after,
            &::before {
                background: url(/backgrounds/title-line.svg) no-repeat 50% 100%;
                content: '';
                display: block;
                height: 50%;
                position: absolute;
                top: 0;
                transform: translateY(-100%);
                width: 100%;
            }

            &::after {
                bottom: 0;
                top: auto;
                transform: translateY(100%) rotate(180deg);
            }
        }
    }

    .title {
        text-align: center;
    }

    &__progress {
        bottom: 10%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0);
        max-width: 610px;
        width: 75%;

        svg {
            display: block;
            height: auto;
            width: 100%;

            .st0 {
                fill: var(--gold);
            }

            .st1 {
                fill: var(--dark);
                fill-opacity: 0.8;
                stroke: var(--gold);
                stroke-width: 2;
            }

            .st2 {
                fill: var(--red);
            }

            .st3 {
                fill: var(--white);
            }
        }
    }

    &__enter {
        border: 1px solid var(--gold);
        color: var(--dark);
        cursor: pointer;
        font-size: 1.8rem;
        bottom: 10%;
        left: 50%;
        padding: 0.25em 1em;
        position: absolute;
        text-transform: uppercase;
        transform: translateX(-50%) scale(1);
        visibility: hidden;

        &::after,
        &::before {
            background: url(/backgrounds/arrow.svg) no-repeat center;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            height: 2.4em;
            top: 50%;
            width: 100%;
        }

        &::after {
            background-position: 0 0;
            left: 0;
            transform: translate(-6%, -50%);
        }

        &::before {
            background-position: 0 0;
            right: 0;
            transform: translate(6%, -50%) rotate(180deg);
        }
    }

    &:not(.close) {

        .title-decor,
        .title-decor div {
            will-change: transform;
        }

    }
}

.point__content {
    height: 100%;
    left: 0;
    opacity: 0;
    place-items: center;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 5;

    &.active {

        picture,
        .decor,
        .content__links,
        .content__image img,
        .works__scroller {
            will-change: transform;
        }

        .animate-text {
            will-change: transform, opacity;
        }
    }

    picture,
    .decor,
    .content__links,
    .content__image img,
    .works__scroller,
    .animate-text {
        will-change: auto;
    }
}

.menu {
    background: url(/backgrounds/menu.svg) no-repeat 50% 50%;
    background-size: 50% 50%;
    bottom: 30px;
    height: 60px;
    left: 30px;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 60px;

    @media screen and (max-width: 767.5px) {
        transform: scale(0.85);
    }

    &::after,
    &::before {
        background: url(/backgrounds/target.svg) no-repeat 50% 50%;
        content: '';
        display: block;
        left: 50%;
        opacity: 0.6;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &::before {
        height: 110%;
        width: 110%;
    }

    &::after {
        height: 300%;
        width: 300%;
        z-index: -1;
    }

    &__icon {
        background: linear-gradient(223.26deg, #2A445F 15.12%, #2C4763 59.94%, #365575 91.58%);
        border: 2px solid var(--gold);
        border-radius: 50px;
        box-shadow: inset 0px 1px 4px var(--dark);
        display: block;
        height: 50px;
        margin: 0 auto;
        pointer-events: none;
        position: relative;
        width: 50px;
        transition: filter 0.4s linear, transform 0.13s ease-in;

        img {
            height: 70%;
            width: 70%;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%) scale(1);
            transition: transform 0.13s ease-in;
        }
    }

    &__item {
        align-items: center;
        color: var(--white);
        cursor: pointer;
        text-shadow:
            -1px -1px 0 var(--dark),
            1px -1px 0 var(--dark),
            -1px 1px 0 var(--dark),
            1px 1px 0 var(--dark);
        position: absolute;
        top: 0;
        text-align: center;

        span {
            display: block;
            font-size: var(--textSize);
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 100px;
            will-change: transform;
        }

        &_about {
            transform: translate(180%, 0);
        }

        &_works {
            transform: translate(0, -170%);
        }

        &:hover {
            .menu__icon {
                filter: brightness(1.3);
                transform: translateY(-10%) scale(1.1);
            }

            img {
                transform: translate(-50%, -50%) scale(0.75);
            }
        }
    }
}

.compass {
    height: auto;
    left: 50%;
    margin-top: 2rem;
    position: fixed;
    transform: translate(-50%, 0);
    visibility: hidden;
    max-width: 620px;
    width: 90vw;
    will-change: transform;

    @media screen and (min-width: 1300px) {
        margin-top: 1.7rem;
    }

    &__dots {
        left: 50%;
        position: absolute;
        top: 50%;
        width: 70%;
        will-change: transform;

        &::after {
            background: url(/backgrounds/compass-letter.png) no-repeat center;
            content: '';
            display: block;
            height: 1rem;
            left: 50%;
            position: absolute;
            top: 0;
            transform: translate(-50%, -165%);
            width: 1rem;
        }
    }
}

@media screen and (min-width: 767.5px) {
    .following {
        border-radius: 50%;
        height: 70px;
        mix-blend-mode: exclusion;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: 0;
        visibility: hidden;
        width: 70px;
        z-index: 99;
        &__look {
            border-radius: 50%;
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}