html, body {
  height: 100vh;
  margin: 0;
  overflow: clip;
  padding: 0;
  width: 100%;
}
* {
  box-sizing: border-box;
}
#app {
  background: url(/asstes/backgrounds/bg-2.jpg?url) no-repeat;
  background-size: cover;
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: clip;
  width: 100vw;
}
.preload {
  background: #fff;
  display: grid;
  place-items: center;
  font-size: 100px;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.preload__content {
  width: 45vmin;
}
.preload svg {
  display: block;
  width: 100%;
}
.preload svg rect {
  /* visibility: hidden;
  opacity: 0; */
}
.preload__progress {
  background: #000;
  border-radius: 4px;
  height: 4px;
  margin-top: 20%;
  transform-origin: left center;
  width: 100%;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
.point {
  pointer-events: auto;
  visibility: hidden;
  transition: visibility .35s ease-in-out;
  will-change: auto;
}
.point .lable {
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  position: relative;
  transform: scale(0);
  width: 30px;
}
.point.visible {
  visibility: visible;
}
.point .lable::after {
  border-radius: 50%;
  background: #fff;
  content: '';
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  top: 50%;
  width: 100%;
  transition: transform .3s ease-in-out;
}
.point .lable:hover {
  transform: scale(1.3);
}
.point .lable:hover::after {
  transform: translate(-50%, -50%) scale(0.9);
}
.point .text {
  background: #ffffff90;
  bottom: 0;
  border-radius: 10px;
  color: #2d2d2d;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  left: 50%;
  margin: 0;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transition: opacity 0.3s ease-out,
              transform 0.3s ease-out;
  transform: translate(-50%, 80%) scale(0.7) skewY(-2deg);
  width: 200px;
}
.point:hover .text {
  opacity: 1;
  transform: translate(-50%, 115%) scale(1) skewY(0);
}

.point__content {
  border-radius: 20px;
  background: #fff;
  display: grid;
  left: 50%;
  opacity: 0;
  place-items: center;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 600px;
  visibility: hidden;
  width: 60vw;
  z-index: 5;
}
.close_btn {
  cursor: pointer;
  height: 16px;
  position: absolute;
  right: 25px;
  top: 25px;
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 16px;
}
.close_btn::before,
.close_btn::after {
  background: #000;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: center;
  width: 100%;
}
.close_btn::after {
  transform: translateY(-50%) rotate(45deg);
}
.close_btn:hover {
  transform: scale(1.2);
}