html, body {
  height: 100vh;
  margin: 0;
  overflow: clip;
  padding: 0;
  width: 100%;
}
* {
  box-sizing: border-box;
}
#app {
  background: url(/asstes/backgrounds/bg-2.jpg?url) no-repeat;
  background-size: cover;
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: clip;
  width: 100vw;
}
.loader {
  background: #2d2d2d;
  color: #ffffff;
  display: grid;
  place-items: center;
  font-size: 100px;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.loader span::after {
  content: '%';
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
.point {
  position: absolute;
  /* left: 50%;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
  will-change: transform;
}
.point .lable {
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  position: relative;
  transition: transform .3s ease-in-out;
  transform: scale(0);
  will-change: transform;
  width: 30px;
}
.point.visible .lable {
  transform: scale(1);
}
.point .lable::after {
  border-radius: 50%;
  background: #fff;
  content: '';
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  top: 50%;
  width: 100%;
  transition: transform .3s ease-in-out;
}
.point .lable:hover {
  transform: scale(1.3);
}
.point .lable:hover::after {
  transform: translate(-50%, -50%) scale(0.9);
}
.point .text {
  background: #ffffff90;
  bottom: 0;
  border-radius: 10px;
  color: #2d2d2d;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  left: 50%;
  margin: 0;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transition: opacity 0.3s ease-out,
              transform 0.3s ease-out;
  transform: translate(-50%, 80%) scale(0.7) skewY(-2deg);
  width: 200px;
}
.point:hover .text {
  opacity: 1;
  transform: translate(-50%, 115%) scale(1) skewY(0);
}