.works {
	width: 100%;
	height: 99.9%;
	overflow-x: hidden;
	overflow-y: scroll;

	&__direction {
		height: 20%;
		left: 2%;
		position: absolute;
		bottom: 5vw;
		width: 10%;
	}

	&__arrow {
		height: 100%;
		position: relative;
		width: 100%;

		&::after {
			content: 'scroll';
			display: block;
			font-size: 14px;
			text-transform: uppercase;
			top: 0;
			transform: translate(7%, -100%) rotate(90deg);
			transform-origin: bottom left;
			position: absolute;
		}

		svg {
			height: 100%;
			width: auto;
		}

		.arrow {
			fill: none;
			stroke: var(--dark);
			stroke-width: 4;
		}
	}

	&__titles {
		height: var(--loading);
		mix-blend-mode: exclusion;
		position: absolute;
		pointer-events: none;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		width: 100%;

		.work__info {
			text-align: center;
			position: absolute;
			width: 100%;

			span {
				transition: transform 0.3s ease-in-out 0.25s;
			}

			&:not(.active) span {
				transform: translateY(100%);
				transition: transform 0.1s ease-in 0s;
			}

		}
	}

	&__wrap {
		width: 100%;
	}

	&__sticky {
		-webkit-position: sticky;
		position: sticky;
		top: 0;
		width: 100%;
	}

	&__picture {
		height: 100%;
		margin: auto;
		padding: 5% 0;
		width: 90vw;

		@media screen and (min-width: 1100px) {
			width: 70vw;
		}
	}

	&__scroller {
		height: 100%;
		position: relative;
	}
}

.work {
	clip-path: inset(0%);
	height: 100%;
	left: 0;
	min-width: 0;
	position: absolute;
	padding-left: 5vmin;
	padding-right: 5vmin;
	top: 0;
	width: 90vw;

	@media screen and (min-width: 1100px) {
		padding-left: 5vmin;
		padding-right: 5vmin;
		width: 70vw;
	}

	@media screen and (min-width: 1400px) {
		width: 70vw;
	}

	&__image {
		cursor: pointer;
		flex: 1;
		grid-area: image;
		height: 100%;
		overflow: hidden;
		transition: filter 0.3s ease-in-out;
		width: 100%;

		picture {
			display: block;
			height: 100%;
			left: 50%;
			position: absolute;
			top: 0;
			width: 110%;
		}

		img {
			height: 100%;
			object-fit: cover;
			object-position: 50%;
			width: 100%;
		}

		&:hover {
			filter: brightness(0.4);

		}
	}

	&__link {
		display: block;
		position: relative;
		height: 100%;
	}

	&__info {
		grid-area: text;
		padding-bottom: 1em;
	}

	&__name {
		color: var(--white);
		font-family: var(--titleFont);
		font-size: 0;
		font-weight: 400;
		margin: 0;
		overflow: hidden;
		text-transform: uppercase;

		span {
			font-size: var(--loading);
			display: inline-block;
			line-height: 0.9;
		}
	}

	&__description {
		color: var(--dark);
		font-size: var(--textSize);
		letter-spacing: 0.015em;
		list-style: none;
		margin: 0.5rem 0 0;
		padding: 0;
		text-transform: capitalize;
	}
}

.icon {
	background: url(/backgrounds/dot.svg) no-repeat center;
	display: inline-block;
	height: 1em;
	width: 1em;
}

.content {
	display: grid;
	place-items: center;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 50px;

	.decor {
		display: none;
	}

	@media screen and (min-width: 767.5px) {
		padding-top: 0;

		.decor {
			background: url(/backgrounds/grece.svg) no-repeat center;
			display: block;
			height: 0;
			opacity: 0.05;
			padding-top: 100%;
			position: absolute;
			right: 0;
			top: 100%;
			transform: translate(50%, -60%);
			width: 65vmax;
		}
	}

	&__block {
		max-width: 570px;
		padding: 0 30px;
		position: relative;
		width: 100%;
		--gap: 4vw;

		&>div {
			min-width: 0;
		}

		div:last-of-type {
			padding-bottom: 50px;
		}

		@media screen and (min-width: 767.5px) {
			display: grid;
			grid-template-columns: 45% 45%;
			grid-template-areas: 'image text''image text1''image .';
			justify-content: space-between;
			max-width: 1500px;

			div:first-of-type {
				padding-top: var(--gap);
			}

			div:last-of-type {
				padding-bottom: var(--gap);
			}
		}

		@media screen and (min-width: 991.5px) {
			grid-template-columns: 40% 45%;
			grid-template-areas: 'image text''image text1''image .';
		}
	}

	&__image {
		grid-area: image;
		position: relative;
		margin: -20px 0 50px;

		@media screen and (min-width: 767.5px) {
			margin: 0;
		}

		picture {
			height: 100%;
			overflow: hidden;
			position: relative;
			width: 100%;

			img {
				@media screen and (min-width: 767.5px) {
					height: 100%;
					object-fit: cover;
					object-position: 50% 0;
					position: absolute;
					top: 0;
				}
			}
		}
	}

	&__links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: relative;
		margin: 15px auto 0;
		width: 140px;

		@media screen and (min-width: 767.5px) {
			flex-direction: column;
			margin-top: 0;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(6.5vw, -50%);
			width: auto;
		}

		@media screen and (min-width: 991.5px) {
			transform: translate(10vw, -50%);
		}

		@media screen and (min-width: 1499.5px) {
			transform: translate(450%, -50%);
		}

		a {
			display: block;
			height: 28px;
			position: relative;
			width: 28px;

			+a {
				@media screen and (min-width: 767.5px) {
					margin-top: 20px;
				}
			}

			img {
				object-fit: contain;
				object-position: center;
				display: block;
				height: 100%;
				width: 100%;
			}
		}
	}

	&__text {
		grid-area: text;

		&_1 {
			grid-area: text1;
		}

		h2,
		h3 {
			font-weight: 400;
			line-height: 1;
			margin: 0;
			text-transform: uppercase;
			overflow: hidden;

			span {
				display: block;
			}
		}

		h2 {
			font-size: var(--smallTitle);

			+p {
				margin-top: 40px;
				margin-bottom: 50px;
			}
		}

		h3 {
			font-size: clamp(20px, 2.2vw, 28px);

			~h3 {
				margin-top: 50px;
			}

			+p,
			+ul {
				margin-top: 25px;
			}
		}

		p {
			letter-spacing: 0.025em;
			line-height: 1.3;
			margin: 0;

			.icon {
				margin-right: 0.2em;
				transform: translateY(0.2em) scale(0.8);
			}
		}

		ul {
			list-style: none;
			padding-left: 40px;

			li {
				position: relative;

				+li {
					margin-top: 15px;
				}

				p {
					margin: 0;
				}

				.icon {
					left: 0;
					position: absolute;
					top: 50%;
					transform: translate(-200%, -50%);
				}
			}
		}
	}
}

.close_btn {
	cursor: pointer;
	height: 40px;
	position: absolute;
	right: 25px;
	top: 25px;
	transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
	transform: scale(0);
	width: 40px;
	z-index: 6;
	visibility: hidden;
	opacity: 0;

	svg {
		pointer-events: none;
	}

	#square {
		fill: var(--gold);
	}

	.st0 {
		fill: none;
		stroke: var(--gold);
		stroke-width: 100;
		stroke-dasharray: 400;
		stroke-dashoffset: 0;
	}
}

.point__content {
	height: 100%;
	left: 0;
	place-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;

	&.active {

		picture,
		.decor,
		.content__links,
		.content__image img,
		.works__name span,
		.works__scroller {
			will-change: transform;
		}

		.work,
		#myPhoto {
			will-change: transform, clip-path;
		}

		.animate-text {
			will-change: transform, opacity;
		}
	}

	picture,
	.decor,
	.content__links,
	.content__image img,
	.work,
	#myPhoto,
	.works__scroller,
	.animate-text {
		will-change: auto;
	}
}

.menu {
	background: url(/backgrounds/menu.svg) no-repeat 50% 50%;
	background-size: 50% 50%;
	bottom: 30px;
	height: 60px;
	left: 30px;
	position: fixed;
	width: 60px;

	@media screen and (max-width: 767.5px) {
		transform: scale(0.85);
	}

	&::after,
	&::before {
		background: url(/backgrounds/target.svg) no-repeat 50% 50%;
		content: '';
		display: block;
		left: 50%;
		opacity: 0.6;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&::before {
		height: 110%;
		width: 110%;
	}

	&::after {
		height: 300%;
		width: 300%;
		z-index: -1;
	}

	&__icon {
		background: linear-gradient(223.26deg, #2A445F 15.12%, #2C4763 59.94%, #365575 91.58%);
		border: 2px solid var(--gold);
		border-radius: 50px;
		box-shadow: inset 0px 1px 4px var(--dark);
		display: block;
		height: 50px;
		margin: 0 auto;
		pointer-events: none;
		position: relative;
		width: 50px;
		transition: filter 0.4s linear, transform 0.13s ease-in;

		img {
			height: 70%;
			width: 70%;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%) scale(1);
			transition: transform 0.13s ease-in;
		}
	}

	&__item {
		align-items: center;
		color: var(--white);
		cursor: pointer;
		text-shadow:
			-1px -1px 0 var(--dark),
			1px -1px 0 var(--dark),
			-1px 1px 0 var(--dark),
			1px 1px 0 var(--dark);
		position: absolute;
		top: 0;
		text-align: center;

		span {
			display: block;
			font-size: var(--textSize);
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			width: 100px;
			will-change: transform;
		}

		&_about {
			transform: translate(180%, 0);
		}

		&_works {
			transform: translate(0, -170%);
		}

		&:hover {
			.menu__icon {
				filter: brightness(1.3);
				transform: translateY(-10%) scale(1.1);
			}

			img {
				transform: translate(-50%, -50%) scale(0.75);
			}
		}
	}
}

.compass {
	height: auto;
	left: 50%;
	margin-top: 2rem;
	position: fixed;
	transform: translate(-50%, 0);
	max-width: 620px;
	width: 90vw;
	will-change: transform;

	@media screen and (min-width: 1300px) {
		margin-top: 1.7rem;
	}

	&__dots {
		left: 50%;
		position: absolute;
		top: 50%;
		width: 70%;
		will-change: transform;

		&::after {
			background: url(/backgrounds/compass-letter.png) no-repeat center;
			content: '';
			display: block;
			height: 1rem;
			left: 50%;
			position: absolute;
			top: 0;
			transform: translate(-50%, -165%);
			width: 1rem;
		}
	}
}
