.point__content {
	height: 100%;
	left: 0;
	position: absolute;
	pointer-events: all;
	top: 0;
	width: 100%;
	z-index: 3;
}

.close_btn {
	background: transparent;
	box-sizing: content-box;
	border: none;
	cursor: pointer;
	height: var(--h2);
	padding: 0.3em;
	position: absolute;
	right: 1.2rem;
	top: 2.4rem;
	transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
	width: var(--h2);
	z-index: 6;
}
@media screen and (min-width: 650.5px) {
	.close_btn {
		right: 5vw;
		top: 5vh;
	}
}
@media screen and (min-width: 1499.5px) {
	.close_btn {
		right: 14vw;
		top: 8vh;
	}
}
.svg_icon {
    pointer-events: none;
}
.svg_icon circle {
	background: url(/backgrouds/traget.svg) no-repeat center;
}

.square {
    fill: var(--gold);
}

.st0 {
    fill: none;
    stroke: var(--gold);
    stroke-width: 100;
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
}
