.point__content {
	height: 100%;
	left: 0;
	place-items: center;
	position: absolute;
	pointer-events: all;
	top: 0;
	width: 100%;
	z-index: 3;
}

.close_btn {
	cursor: pointer;
	background: transparent;
	border: none;
	height: 2rem;
	position: absolute;
	right: 0.65rem;
	top: 0.65rem;
	transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
	transform: scale(0);
	width: 2rem;
	z-index: 6;
	opacity: 0;
}
.svg_icon {
    pointer-events: none;
}

.square {
    fill: var(--gold);
}

.st0 {
    fill: none;
    stroke: var(--gold);
    stroke-width: 100;
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
}