.works {
  width: 100%;
  padding: 1.2rem;
	padding-top: 2.4rem;
  width: 100%;
}
@media screen and (min-width: 650.5px) {
  .works {
    padding: 5vw 5vw;
  }
}
@media screen and (min-width: 1499.5px) {
  .works {
    display: block;
    padding: 8vh 14vw;
  }
}
.content__title {
  font-weight: normal;
  font-size: clamp(20px, 1.65vw, var(--smallTitle));
  line-height: 1;
  overflow: hidden;
  text-transform: uppercase;
}
.content__title span {
  display: inline-block;
  will-change: transform;
}
.work__title {
  color: var(--white);
  font-weight: normal;
  font-size: 2rem;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.work__title span {
  display: inline-block;
}
.wroks__wrap {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr;
  margin-top: 1.2rem;
  justify-items: center;
}
@media screen and (min-width: 600px) {
  .wroks__wrap {
    gap: 3rem;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 949.5px) {
  .wroks__wrap {
    grid-template-columns: 1fr 1fr;
  }
}


.work {
  aspect-ratio: 3/2;
  height: auto;
  position: relative;
  text-align: center;
  width: 100%;
}
.work a {
  height: 100%;
  display: block;
  width: 100%;
}
.work img {
  height: auto;
  object-fit: cover;
}

/* Will change setter */
.work,
.work__title span {
  will-change: transform, opacity;
}