.works {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
.wroks__wrap {
  display: grid;
  justify-items: center;
  gap: 4vmin;
  padding: 10vh 0;
  padding: 10svh 0;
}
.progress {
  bottom: 0;
  position: fixed;
}
.work {
  min-height: 80vh;
  min-height: 80svh;
  width: 100%;
  position: relative;
}
.work a {
  display: block;
  height: 100%;
  width: 100%;
}
.work img {
  margin: 0 auto;
  object-fit: cover;
  width: auto !important;
  will-change: transform;
}
